body {
    background-color: #b6b6b6;
    font-family: arial;
    margin: 0;
}

.home {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo-site {
    -webkit-filter: drop-shadow(5px 5px 5px #ffffffab);
     filter: drop-shadow(5px 5px 5px #ffffffab);
}

.eu-de-moto {
    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.content {
    background-color: #0000002b;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.contato {
    text-align: center;
}

.redes {
    text-align: center;
    font-size: small;
}
